.brand-icon {
    width: 48px;
    border-radius: 15px;
}

.navbar .navbar-brand {
    font-family: Poppins;
    font-size: 2rem;
    margin-right: 8rem;
}

.navbar .nav-item {
    margin-left: 2rem;
}

.navbar .nav-item.active {
    font-weight: bold;
}

.navbar-nav .nav-sidebar-item {
    font-family: sans-serif;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}