.jumbotron {
    border-radius: 1.5rem;
    background-color: #fce0dc;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 2rem;
}

.jumbotron h1 {
    width: 220px;
    color: $black;
    font-size: 3rem;
    font-weight: 600;
}

.jumbotron p {
    width: 220px;
    color: #5f5d5d;
    font-size: 0.9rem;
}

.jumbotron .btn {
    font-weight: bold;
}

.jumbotron .btn:hover {
    opacity: 0.8;
}