 .card {
     font-family: "Open Sans", sans-serif;
     cursor: pointer;
     border: 0;
 }

 .card:hover {
     opacity: 0.7;
 }

 .card img.card-img {
     height: 140px;
     object-fit: cover;
     border-radius: 1rem;
 }

 .card .card-body {
     padding: 1.25rem 0 1.25rem 0;
 }

 .card .card-body .card-title {
     font-size: 0.9rem;
 }

 .card .card-body .card-text {
     font-size: 0.7rem;
 }